.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer > summary {
  color: var(--text85);
  font-size: 12px;
}
.footer small {
  color: var(--text70);
}

.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-block: 1.5rem;
}

.footer tr {
  border: 1px solid var(--text55);
  padding: 0.2rem;
}

.parent > tr > td > small {
  font-size: 10px;
}
