.minage-prestige {
  width: 46rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: var(--primary5);
  border-radius: 50px;
  padding: 4rem 2rem 1rem 2rem;
  color: var(--text45);
}

.input-prestige {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input-chart {
  margin-left: -30px;
}

.input-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input-btns > button {
  width: 2rem;
  height: 1.5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--primary65);
  color: var(--text85);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  line-height: 1.3rem;
  transition: all 0.3s ease-out;
}

.input-btns > button:hover {
  cursor: pointer;
  background-color: var(--text85);
  color: var(--bg);
}

.calc-prestige > div > small {
  color: var(--text85);
}

.calc-prestige > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.calc-prestige > div > select {
  background-color: var(--secondary80);
  color: var(--text50);
  text-align: center;
  border: none;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 0.4rem;
  transition: 0.25s all ease-out;
}

.calc-prestige > div > select:hover,
.calc-prestige > div > select:focus {
  cursor: pointer;
  background-color: transparent;
  color: var(--text90);
  outline: var(--text90) 1px solid;
}

.calc-prestige > div > select:hover > option,
.calc-prestige > div > select:focus > option {
  background-color: var(--bg);
  font-size: 1rem;
}

.calc-prestige {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.calc-prestige > div {
  display: flex;
  flex-direction: column;
}

.calc-prestige > div > div,
.calc-prestige > div > h6,
.calc-prestige > div > small {
  height: 1.3rem;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.calc-prestige > div > h6 {
  margin: 0.5rem;
}
.calc-prestige > div > div > h4 {
  color: #ffff55;
}
.calc-prestige > div > div > svg {
  color: #ffaa00;
}
.calc-prestige > div > small {
  color: var(--text70);
}

@media (max-width: 824px) {
  .minage-prestige {
    width: 13rem;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 10rem;
  }
}
