.txt-minage,
.txt-prestiges {
  color: var(--text65);
}

.txt-minage > small,
.txt-prestiges > small {
  position: absolute;
  width: 8rem;
  text-align: center;
  font-weight: 600;
}

.txt-minage > svg,
.txt-prestiges > svg {
  position: absolute;
  width: 80px;
  height: 80px;
}

.txt-minage > small {
  top: 9.5rem;
  left: 50%;
  transform: translateX(-8.5rem);
}

.txt-minage > svg {
  top: 4.5rem;
  left: 50%;
  transform: translateX(-10rem) rotate(-210deg);
}

.txt-prestiges > small {
  top: 8.5rem;
  left: 50%;
  transform: translateX(2.5rem);
}

.txt-prestiges > svg {
  top: 4em;
  left: 50%;
  transform: translateX(4.5rem) rotate(240deg);
}

@media (max-width: 465px) {
  .txt-minage > small {
    transform: translateX(-9.5rem);
  }
  .txt-minage > svg {
    transform: translateX(-8rem) scaleX(-1) rotate(-210deg);
  }

  .txt-prestiges > small {
    transform: translateX(-0.5rem);
  }
  .txt-prestiges > svg {
    transform: translateX(2rem) rotate(240deg);
  }
}
