.App > div {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.minage-values {
  width: 27rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  background-color: var(--primary5);
  border-radius: 18%;
  padding: 3rem 5.2rem;
  color: var(--text45);
}

.input-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.input-values > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.input-values > div > small {
  color: var(--text85);
}
.input-values > div > input {
  background-color: var(--secondary80);
  color: var(--text50);
  text-align: center;
  border: none;
  font-size: 1.333rem;
  border-radius: 20px;
  padding: 0.4rem;
  width: 5rem;
  transition: 0.25s all ease-out;
}

.input-values > div > input:hover,
.input-values > div > input:focus {
  background-color: transparent;
  color: var(--text90);
  outline: var(--text90) 1px solid;
}

.input-values > div > select {
  background-color: var(--secondary80);
  color: var(--text50);
  text-align: center;
  border: none;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 0.4rem;
  transition: 0.25s all ease-out;
}

.input-values > div > select:hover,
.input-values > div > select:focus {
  cursor: pointer;
  background-color: transparent;
  color: var(--text90);
  outline: var(--text90) 1px solid;
}

.input-values > div > select:hover > option,
.input-values > div > select:focus > option {
  background-color: var(--bg);
  font-size: 1rem;
}

.calc-values {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calc-values > div > div,
.calc-values > div > small {
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.calc-values > div > div > h4 {
  color: #ffff55;
}
.calc-values > div > div > svg {
  color: #ffaa00;
}
.calc-values > div > div > h6 {
  color: var(--text70);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer > h6 {
  color: var(--text85);
}
.footer small {
  color: var(--text70);
}

.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-bottom: 2rem;
}

.footer tr {
  border: 1px solid var(--text55);
  padding: 0.3rem;
}

@media (max-width: 824px) {
  .minage-values {
    width: 13rem;
    justify-content: center;
    border-radius: 10%;
    gap: 3rem;
  }

  .footer {
    width: 24rem;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
