.noel-event {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.noel-timer {
  color: var(--text85);
}

.noel-container {
  height: 1.5rem;
  color: var(--text25);
}

.noel-container > * > p {
  margin: 0;
  padding-inline: 0.5rem;
}

.noel-citrouilles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.noel-citrouilles > small {
  color: var(--text55);
  text-align: center;
}

.noel-place > p {
  height: 1rem;
  text-align: center;
  font-size: 20px;
  color: var(--text45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.noel-coords > p {
  width: 8rem;
  font-size: 16px;
  text-align: start;
  color: var(--text85);
}

.noel-zone > p {
  font-style: italic;
  font-size: 0.75rem;
}
